<%include /partials/header%>

<div class="container">
  <div class="row">
    <div class="jumbotron">
      <h1>Marvel Research App</h1>
      <p>Because who doesn't need to know more about their favorite Marvel character?</p>
      <form action="/">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Enter Name...">
        </div>
        <input type="submit" class="btn btn-info btn-xs">
      </form>
    </div>
  </div>
</div>

<%include /partials/footer%>
